{% extends 'base.html' %}

{% block title %}Book Accommodation{% endblock %}

{% block content %}
<style>
    .hotel-container {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        padding: 20px;
    }

    .hotel-section {
        flex: 1;
        border: 1px solid #ccc;
        padding: 15px;
        border-radius: 8px;
        background-color: #f9f9f9;
    }

    .hotel-section h2 {
        text-transform: none;
        margin-top: 0;
        font-size: 1.4rem;
        color: #333;
    }

    .hotel-list {
        list-style: none;
        padding-left: 0;
    }

    .hotel-list li {
        margin-bottom: 8px;
        font-size: 1.1rem;
        font-weight: 600;
    }

    .hotel {
        padding: 10px 5px;
        /*padding-bottom: 20px;*/
        border: 1px solid gray;
        margin: 10px 0;
        border-radius: 10px;
    }

    .hotel-list li span {
        text-decoration: none;
        color: #d38b20;
        font-size: 1rem;
    }

    .hotel-distance {
        font-weight: 500;
        font-style: italic;
    }

    .accommodation-card {
        margin: 60px auto 10px auto;
        max-width: 1250px;
        padding-left: calc(var(--bs-gutter-x) * .9);
    }

    .card-body {
        padding: 1.5rem;
    }

    .row {
        margin-right: 0;
    }

    @media screen and (max-width: 768px) {
        .hotel-container {
            flex-direction: column;
            gap: 10px;
            padding: 5px;
        }

        .hotel-section {
            margin-bottom: 20px;
        }
    }
</style>
<div class="accommodation-page">
    <div class="row">
        <!-- <div class="col-lg-8 mx-auto"> -->
        <div class="accommodation-card">
            <div class="card">
                <div class="card-header">
                    <h3 class="mb-0">Recommended Accommodation</h3>
                </div>
                <div class="card-body ">
                    <div class="hotel-container">
                        <div class="hotel-section">
                            <h2>5-Star Hotels</h2>
                            <div class="hotel">
                                <ul class="hotel-list">
                                    <li>Accra Marriot Hotel <br><span class="hotel-distance">(7.1Km from First Love
                                            Center)</span> </li>
                                    <li>More info on: <a href="https://www.booking.com/hotel/gh/accra-marriott.html"
                                            target="_blank" class="btn about-btn"> Booking.com</a></li>
                                </ul>
                            </div>
                            <div class="hotel">
                                <ul class="hotel-list">
                                    <li>Kempinski Hotel <br><span class="hotel-distance">(13Km from First Love
                                            Center)</span> </li>
                                    <li>More info on: <a
                                            href="https://www.booking.com/hotel/gh/kempinski-gold-coast-city.html"
                                            target="_blank" class="btn about-btn">Booking.com</a></li>
                                </ul>
                            </div>
                            <div class="hotel">
                                <ul class="hotel-list">
                                    <li>Mövenpick Ambassador Hotel <br><span class="hotel-distance">(14.1Km from First
                                            Love Center)</span>
                                    </li>
                                    <li>More info on: <a
                                            href="https://www.booking.com/hotel/gh/mapvenpick-ambassador-accra-accra.html"
                                            class="btn about-btn">Booking.com</a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="hotel-section">
                            <h2>4-Star Hotels</h2>
                            <div class="hotel">
                                <ul class="hotel-list">
                                    <li>Fiesta Royale Hotel <br><span class="hotel-distance">(9.6Km from First Love
                                            Center)</span> </li>
                                    <li>More info on: <a href="https://www.booking.com/hotel/gh/fiesta-royale.html"
                                            target="_blank" class="btn about-btn">Booking.com</a></li>
                                </ul>
                            </div>
                            <div class="hotel">
                                <ul class="hotel-list">
                                    <li>Tang Palace Hotel <br><span class="hotel-distance">(8.4Km from First Love
                                            Center)</span> </li>
                                    <li>More info on: <a href="https://www.booking.com/hotel/gh/tang-palace.html"
                                            target="_blank" class="btn about-btn">Booking.com</a></li>
                                </ul>
                            </div>
                            <div class="hotel">
                                <ul class="hotel-list">
                                    <li>The African Regent Hotel <br><span class="hotel-distance">(6.5Km from First Love
                                            Center)</span> </li>
                                    <li>More info on: <a
                                            href="https://www.booking.com/hotel/gh/mapvenpick-ambassador-accra-accra.html"
                                            class="btn about-btn">Booking.com</a></li>
                                </ul>
                            </div>
                            <div class="hotel">
                                <ul class="hotel-list">
                                    <li>Accra City Hotel <br><span class="hotel-distance">(13Km from First Love
                                            Center)</span> </li>
                                    <li>More info on: <a
                                            href="https://www.tripadvisor.com/Hotel_Review-g293797-d9762772-Reviews-Accra_City_Hotel-Accra_Greater_Accra.html"
                                            target="_blank" class="btn about-btn">Tripadvisor.com</a></li>
                                </ul>
                            </div>
                            <div class="hotel">
                                <ul class="hotel-list">
                                    <li>Lancaster Accra Hotel <br><span class="hotel-distance">(8.8Km from First Love
                                            Center)</span> </li>
                                    <li>More info on: <a
                                            href="https://www.tripadvisor.com/HotelHighlight-g293797-d301520-zfc9566,9568-Reviews-Lancaster_Accra-Accra_Greater_Accra.html"
                                            class="btn about-btn">Tripadvisor.com</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="hotel-section">
                            <h2>3-Star Hotels</h2>
                            <div class="hotel">
                                <ul class="hotel-list">
                                    <li>Ibis Styles Hotel <br><span class="hotel-distance">(7.5Km from First Love
                                            Center)</span> </li>
                                    <li>More info on: <a
                                            href="https://www.booking.com/hotel/gh/ibis-styles-accra-airport.html"
                                            target="_blank" class="btn about-btn">Booking.com</a></li>
                                </ul>
                            </div>
                            <div class="hotel">
                                <ul class="hotel-list">
                                    <li>Airport View Hotel <br><span class="hotel-distance">(6.5Km from First Love
                                            Center)</span> </li>
                                    <li>More info on: <a href="https://www.booking.com/hotel/gh/airport-view.html"
                                            target="_blank" class="btn about-btn">Booking.com</a></li>
                                </ul>
                            </div>

                            <div class="hotel">
                                <ul class="hotel-list">
                                    <li>Mensvic Grand Hotel <br><span class="hotel-distance"> (2.6Km from First Love
                                            Center)</span> </li>
                                    <li>More info on: <a
                                            href="https://www.tripadvisor.com/Hotel_Review-g293797-d1907493-Reviews-Mensvic_Grand_Hotel-Accra_Greater_Accra.html"
                                            target="_blank" class="btn about-btn">Tripadvisor.com</a></li>
                                </ul>
                            </div>
                            <div class="hotel">
                                <ul class="hotel-list">
                                    <li>AH Hotel and Conference <br><span class="hotel-distance">(13Km from First Love
                                            Center)</span> </li>
                                    <li>More info on: <a
                                            href="https://www.tripadvisor.com/Hotel_Review-g293797-d13424840-Reviews-AH_Hotel_Conference-Accra_Greater_Accra.html"
                                            target="_blank" class="btn about-btn">Tripadvisor.com</a></li>
                                </ul>
                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>
</div>

{% block extra_js %}

{% endblock %}
{% endblock %}