{% extends 'base.html' %}

{% block title %}First Love Conference{% endblock %}

{% block content %}
<style>
    #modalSpeakerTitle {
        font-size: 20px;
    }
</style>
<!-- Hero Section -->
<div class="hero-section">
    <video autoplay muted loop playsinline>
        <source src="https://res.cloudinary.com/dtr7ausk3/video/upload/q_auto/FLC_20_eqlgdp.mp4" type="video/mp4">
        type="video/mp4">
    </video>
    </video>
    <div class="hero-content">
        <!-- <h1>Road to The First Love Conference</h1>
         <p>Join us at First Love Center for an unforgettable time of worship, fellowship, and inspiration as we gather together to grow in faith and community.</p> -->
        <!-- <a href="{{ url_for('registrations.fl_registration') }}"
            class="btn btn-primary btn-lg hero-btn"><strong>REGISTER
                NOW</strong></a> -->
    </div>
</div>

<!-- Conference Highlights -->
<section class="conference-highlights">
    <div class="countdown-container">
        <a href="{{ url_for('registrations.fl_registration') }}" class="carousel-item">
            <div class="countdown-carousel">
                <div class="countdown-banner">
                    <span id="countdown-days" class="countdown-number">00</span>
                    <span class="countdown-unit">Days</span>
                    <span id="countdown-hours" class="countdown-number">00</span>
                    <span class="countdown-unit">Hours</span>
                    <span id="countdown-minutes" class="countdown-number">00</span>
                    <span class="countdown-unit">Minutes</span>
                    <span class="register-text">To Go - Register Today</span>
                </div>
            </div>

        </a>
    </div>
    <div class="marquee-countdown background-color-pink text-color-white"></div>
    <div class="core-speakers">
        <div class="site-container cc-speakers">
            <div data-reveal-container class="_2-column" id="conference-intro">
                <div data-reveal-item class="core-speakers_intro revealed">
                    <h2><strong>Experience The First Love Conference</strong></h2>
                    <!-- <p class="site-paragraph is-medium text-weight-500"><strong>Experience The First Love
                            Conference</strong></p> -->
                    <p class="site-paragraph is-medium text-weight-500">The <strong>First Love Conference</strong> is a
                        spirit filled international event that brings together
                        <strong>young people and adults from over 49 nations</strong>, united by a passion for Jesus and
                        a desire to experience His presence in a deeper way.<br>
                    </p>
                    <p class="site-paragraph is-medium text-weight-500">
                        With thousands joining from <strong>America, Europe, the Caribbean, Australia, New Zealand, and
                            across Africa</strong>, this electrifying gathering features <strong>powerful worship,
                            transformational teachings, and an atmosphere charged with inspiration.</strong>
                    </p>
                    <p class="site-paragraph is-medium text-weight-500">
                        Join globally renowned speakers and a diverse community as we explore this year's theme,
                        <strong>“THE LORD IS THERE”</strong>—a call to experience His presence, power, and purpose like
                        never before.
                    </p>
                    <p class="site-paragraph is-medium text-weight-500">
                        <strong>This is more than a conference—it's an encounter with His presence.</strong> See you
                        there!
                    </p>
                    <p class="intro-ending is-medium text-weight-500">
                        <strong>-Joshua Heward-Mills, Pastor of The First Love Church</strong>
                    </p>

                </div>
                <!-- <div data-reveal-item id="w-node-_039498d4-bae6-9cad-26b6-ff32f6c23406-4c49b90e"
                    class="event-hero_footer-wrapper is-2025 revealed"> -->
                <div class="intro-video ">
                    <div class="thumbnail-container" onclick="openModal()">
                        <img src="{{ url_for('static', filename='images/Conference 3 copy.png') }}"
                            class="video-thumbnail" alt="Conference intro video">
                        <!-- Overlay Play Button -->
                        <div class="play-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <polygon points="5 3 19 12 5 21 5 3"></polygon>
                            </svg>
                        </div>
                    </div>


                    <!-- Modal Popup -->
                    <div id="videoModal" class="modal">
                        <div class="modal-content">
                            <button class="close" onclick="closeModal()">×</button>
                            <video id="popupVideo" controls>
                                <source
                                    src="https://res.cloudinary.com/dtr7ausk3/video/upload/q_auto/FL-CONF_MAIN-1080_ww5mff.mp4"
                                    type="video/mp4">
                            </video>
                        </div>
                    </div>
                </div>

                <!-- </div> -->
            </div>

            <!--  SPEAKERS -->
            <div data-reveal-container class="featured-speakers" id="speakers">
                <h1 data-reveal-item class="heading-3 revealed">Speakers</h1>
                <div role="list" class="featured-speakers__list w-dyn-items">
                    <div data-reveal-item role="listitem"
                        class="core-speakers_item-image is-featuredspeakers w-dyn-item revealed">
                        <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/w_1000/q_auto/f_auto/Joshua_Heward-Mills_dc5qpx.jpg"
                            loading="lazy" width="405" alt="Joshua Heward-Mills">
                        <h3>Joshua Heward-Mills</h3>
                        <p class="site-paragraph is-medium text-weight-600 is-speakers"><strong>Conference Host and Lead
                                Pastor</strong>, First Love Church</p>
                    </div>
                    <div data-reveal-item role="listitem"
                        class="core-speakers_item-image is-featuredspeakers w-dyn-item revealed">
                        <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/w_1000/q_auto/f_auto/Prophet_Dag_Heward-Mills_inszi1.jpg"
                            loading="lazy" width="405" alt="Prophet Dag Heward-Mills">
                        <h3>Dag Heward-Mills</h3>
                        <p class="site-paragraph is-medium text-weight-600 is-speakers">Dag Heward-Mills Ministries,
                            Ghana</p>
                        <a class="btn about-btn">About</a>
                        <p class="speaker-bio">Dag Heward-Mills is an evangelist, pastor, author, and missionary known
                            for his global impact
                            in ministry.<br>
                            He is the founder of the United Denominations Originating from the Lighthouse Group of
                            Churches (UD-OLGC), a denomination with thousands of churches in over 90 countries.<br>
                            He also launched the Healing Jesus Campaign, a series of large-scale gospel crusades that
                            have reached millions across Africa. In addition to planting churches and organizing
                            crusades, he has authored over 90 influential books on leadership, ministry, and church
                            growth.<br>
                            Bishop Dag continues to train missionaries and raise leaders with a strong focus on the
                            Great
                            Commission</p>
                    </div>
                    <div data-reveal-item role="listitem"
                        class="core-speakers_item-image is-featuredspeakers w-dyn-item revealed">
                        <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/w_1000/q_auto/f_auto/Ben_Fitzgerald_pmjswg.jpg"
                            loading="lazy" width="405" alt="Ben Fitzgerald">
                        <h3>Ben Fitzgerald</h3>
                        <p class="site-paragraph is-medium text-weight-600 is-speakers">Awakening Europe,
                            Germany</p>
                        <a class="btn about-btn">About</a>
                        <p class="speaker-bio">Ben Fitzgerald is the senior leader of Awakening Europe, a movement
                            dedicated to spreading
                            the gospel across Europe through stadium events, city-wide outreaches, and training schools.
                            <br>
                            Currently based in Germany, Ben leads the Awakening Team and travels extensively, preaching
                            the message of Jesus and equipping believers to live in the fullness of freedom and identity
                            found in Christ. <br>
                            With a deep conviction that the future of nations will be transformed by radical believers,
                            Ben’s passion is to see people set free and boldly proclaiming the Kingdom of God.
                        </p>
                    </div>
                    <div data-reveal-item role="listitem"
                        class="core-speakers_item-image is-featuredspeakers w-dyn-item revealed">
                        <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/w_1000/q_auto/f_auto/Joshua_McCauley_mzgi3j.jpg"
                            loading="lazy" width="405" alt="Joshua McCauley">
                        <h3>Joshua McCauley</h3>
                        <p class="site-paragraph is-medium text-weight-600 is-speakers">Redemption Church
                            and Rhema, South Africa</p>
                        <a class="btn about-btn">About</a>
                        <p class="speaker-bio">Joshua McCauley is the Senior Pastor of Rhema and Redemption Church
                            Johannesburg, two
                            vibrant and rapidly growing congregations in South Africa. Known for his passionate and
                            engaging teaching, he is a prominent voice in the global grace movement. His messages focus
                            on the transformative power of God’s love and the finished work of Jesus, helping believers
                            experience true freedom, healing, and peace in Christ. Pastor Joshua’s approach to scripture
                            brings fresh insights, often using typology and the original Hebrew text to highlight the
                            depth of God’s goodness.
                        </p>
                    </div>
                    <div data-reveal-item role="listitem"
                        class="core-speakers_item-image is-featuredspeakers w-dyn-item revealed">
                        <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/w_1000/q_auto/f_auto/Glyn_Barrett_frmoa6.jpg"
                            loading="lazy" width="405" alt="Glyn Barrett">
                        <h3>Glyn Barrett</h3>
                        <p class="site-paragraph is-medium text-weight-600 is-speakers">Audacious, UK and
                            National leader of Assemblies of God UK</p>
                        <a class="btn about-btn">About</a>
                        <p class="speaker-bio">Glyn Barrett is a pastor, international speaker, and author known for his
                            dynamic preaching
                            and
                            inspiring leadership. He leads !Audacious Church, a thriving multi-site church with campuses
                            across the UK and Europe.<br>
                            Glyn currently serves as the National Leader of Assemblies of God Great Britain, Chair of
                            Empowered21 of Europe, and Global Church Planting Chair for AoG.<br>
                            Passionate about raising leaders and planting churches, he continues to speak around the
                            world while pursuing a Doctorate in Leadership and Global Perspectives.
                        </p>
                    </div>
                    <div data-reveal-item role="listitem"
                        class="core-speakers_item-image is-featuredspeakers w-dyn-item revealed">
                        <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/w_1000/q_auto/f_auto/David_Diga_Hernandez___cdbkyw.jpg"
                            loading="lazy" width="405" alt="David Diga Hernandez">
                        <h3>David Diga Hernandez</h3>
                        <p class="site-paragraph is-medium text-weight-600 is-speakers">David Diga Hernandez Ministries,
                            USA</p>
                        <a class="btn about-btn">About</a>
                        <p class="speaker-bio">David Diga Hernandez is an evangelist, bestselling author, YouTuber, and
                            healing minister
                            with a deep friendship with the Holy Spirit. His ministry hosts powerful encounter services
                            around the world and reaches millions through online media. <br>
                            David has a heart for the lost and a strong desire to help this generation connect with the
                            Holy Spirit in a real and personal way. Through his ministry, many have come to know Jesus,
                            experienced healing and freedom, and discovered a deeper walk with God. <br>
                            He carries a special grace to lead people to Christ and to help believers grow closer to the
                            Holy Spirit.
                        </p>
                    </div>
                    <div data-reveal-item role="listitem"
                        class="core-speakers_item-image is-featuredspeakers w-dyn-item revealed">
                        <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/w_1000/q_auto/f_auto/Daniel_Chand_hku4j9.jpg"
                            loading="lazy" width="405" alt="Daniel Chand">
                        <h3>Daniel Chand</h3>
                        <p class="site-paragraph is-medium text-weight-600 is-speakers">Walking Like Jesus
                            Ministries, UK</p>
                        <a class="btn about-btn">About</a>
                        <p class="speaker-bio">Daniel Chand is an evangelist, pastor, author, and the founder of Walking
                            Like Jesus
                            Ministries.<br>
                            He leads large-scale gospel campaigns, including Tent Revivals and international crusades,
                            reaching hundreds of thousands of people globally. Through his ministry, Daniel also hosts
                            weekly television programs on TBN UK, such as Let’s Talk Revival and Walking Like Jesus.
                            Alongside his evangelistic work, Daniel and his wife Tanya pastor Pragma Church in Milton
                            Keynes, a thriving congregation focused on revival and equipping believers. With a heart to
                            reach the lost, Daniel has ministered in over 32 nations, hosting powerful crusades and
                            spreading the message of salvation and healing. His ministry's mandate is to "reach the lost
                            at any cost."</p>
                    </div>
                    <div data-reveal-item role="listitem"
                        class="core-speakers_item-image is-featuredspeakers w-dyn-item revealed">
                        <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/w_1000/q_auto/f_auto/Markus_Wenz_dinijt.jpg"
                            loading="lazy" width="405" alt="Markus Wenz">
                        <h3>Markus Wenz</h3>
                        <p class="site-paragraph is-medium text-weight-600 is-speakers">Holy Spirit Night
                            Movement at the Gospel Forum, Germany</p>
                        <a class="btn about-btn">About</a>
                        <p class="speaker-bio">Markus Wenz is the leader of the Holy Spirit Night Movement and a key
                            member of the
                            leadership team at Gospel Forum Church in Stuttgart, Germany.<br>
                            He is passionate about seeing a generation rise up to live in true freedom and walk in the
                            supernatural power of the Holy Spirit. After a life-changing encounter with the Holy Spirit,
                            Markus has made it his mission to create space for God’s presence and power to move. He is
                            deeply committed to equipping and empowering young people to bring transformation in every
                            sphere of society—through bold faith, spiritual authority, and a lifestyle led by the
                            Spirit.
                        </p>
                    </div>
                    <div data-reveal-item role="listitem"
                        class="core-speakers_item-image is-featuredspeakers w-dyn-item revealed">
                        <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/w_1000/q_auto/f_auto/Teo_Hayashi_eoj7qn.jpg"
                            loading="lazy" width="405" alt="Teo Hayashi">
                        <h3>Teo Hayashi</h3>
                        <p class="site-paragraph is-medium text-weight-600 is-speakers">Dunamis Movement and
                            Monte Sião Church, Brazil</p>
                        <a class="btn about-btn">About</a>
                        <p class="speaker-bio">Teo Hayashi is the founder of the Dunamis Movement and a passionate
                            leader focused on
                            equipping a generation to bring the Kingdom of Heaven to Earth.<br>
                            He serves as a writer, speaker, and senior pastor at Monte Sião Church in São Paulo, Brazil.
                            His ministry journey began with Youth With A Mission (YWAM) and continued as a youth pastor
                            in North Carolina.<br>
                            After returning to Brazil, Teo envisioned a move of God among college students—one that
                            would spark revival and global impact. That vision became the Dunamis Movement.
                        </p>
                    </div>
                    <div data-reveal-item role="listitem"
                        class="core-speakers_item-image is-featuredspeakers w-dyn-item revealed">
                        <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/w_1000/q_auto/f_auto/Kong_Hee_fgs2pp.jpg"
                            loading="lazy" width="405" alt="Kong Hee">
                        <h3>Kong Hee</h3>
                        <p class="site-paragraph is-medium text-weight-600 is-speakers">City Harvest
                            Church, Singapore</p>
                        <a class="btn about-btn">About</a>
                        <p class="speaker-bio">Kong Hee is the founder and senior pastor of City Harvest Church, a
                            vibrant, multi-campus
                            congregation. He also established the School of Theology, Church Without Walls, and City
                            Harvest Community Services Association, equipping leaders and serving thousands in need.
                            <br>
                            A spiritual son of the late Dr. David Yonggi Cho, who led the world’s largest church, Kong
                            carries a deep commitment to Pentecostal faith, spiritual formation, and Christlikeness.
                            <br>
                            He continues to champion soul-winning, church growth, and intimacy with God as the ultimate
                            goal of every believer. He is currently pursuing an education in theology.
                        </p>
                    </div>

                </div>
                <div id="speakerModal" class="modal">
                    <div class="spk-modal-content">
                        <span class="close-modal">&times;</span>
                        <div class="modal-image-container">
                            <img id="modalSpeakerImage" src="" alt="Speaker" loading="lazy" width="405">
                        </div>
                        <div class="modal-text">
                            <h3 id="modalSpeakerName"></h3>
                            <h5 id="modalSpeakerTitle"></h5>
                            <p id="modalSpeakerBio"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Speakers Carousal-->
        <div class="carousel-container core-speakers_list-wrapper splide__track">
            <h1 class="heading-3">All Speakers</h1>
            <div class="carousel-track">
                <div class="speaker-card">
                    <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/w_1000/q_auto/f_auto/Joshua_Heward-Mills_dc5qpx.jpg"
                        alt="Joshua Heward-Mills" class="speaker-image">
                    <h4>Joshua Heward-Mills</h4>
                    <p class="speaker-title">Host and Lead Pastor, First Love Church</p>
                </div>
                <div class="speaker-card">
                    <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/w_1000/q_auto/f_auto/Prophet_Dag_Heward-Mills_inszi1.jpg"
                        alt="Prophet Dag Heward-Mills" class="speaker-image">
                    <h4>Dag Heward-Mills</h4>
                    <p class="speaker-title">Dag Heward-Mills Ministries, Ghana
                </div>
                <div class="speaker-card">
                    <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/w_1000/q_auto/f_auto/Glyn_Barrett_frmoa6.jpg"
                        alt="Glyn Barrett" class="speaker-image">
                    <h4>Glyn Barrett</h4>
                    <p class="speaker-title">Audacious, UK and Assemblies of God UK
                    </p>
                </div>
                <div class="speaker-card">
                    <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/w_1000/q_auto/f_auto/Ben_Fitzgerald_pmjswg.jpg"
                        alt="Ben Fitzgerald" class="speaker-image">
                    <h4>Ben Fitzgerald</h4>
                    <p class="speaker-title">Awakening Europe, Germany</p>
                </div>
                <div class="speaker-card">
                    <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/w_1000/q_auto/f_auto/Daniel_Chand_hku4j9.jpg"
                        alt="Daniel Chand" class="speaker-image">
                    <h4>Daniel Chand</h4>
                    <p class="speaker-title">Walking Like Jesus Ministries, UK</p>
                </div>
                <div class="speaker-card">
                    <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/w_1000/q_auto/f_auto/David_Diga_Hernandez___cdbkyw.jpg"
                        alt="David Diga Hernandez" class="speaker-image">
                    <h4>David Diga Hernandez</h4>
                    <p class="speaker-title">David Diga Hernandez Ministries, USA</p>
                </div>
                <div class="speaker-card">
                    <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/w_1000/q_auto/f_auto/Joshua_McCauley_mzgi3j.jpg"
                        alt="Joshua McCauley" class="speaker-image">
                    <h4>Joshua McCauley</h4>
                    <p class="speaker-title">Redemption Church and Rhema, South Africa</p>
                </div>
                <div class="speaker-card">
                    <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/w_1000/q_auto/f_auto/Markus_Wenz_dinijt.jpg"
                        alt="Markus Wenz" class="speaker-image">
                    <h4>Markus Wenz</h4>
                    <p class="speaker-title">Holy Spirit Night Movement at the Gospel Forum, Germany</p>
                </div>
                <div class="speaker-card">
                    <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/w_1000/q_auto/f_auto/Teo_Hayashi_eoj7qn.jpg"
                        alt="Teo Hayashi" class="speaker-image">
                    <h4>Teo Hayashi</h4>
                    <p class="speaker-title">Dunamis Movement and Monte Sião Church, Brazil</p>
                </div>
                <div class="speaker-card">
                    <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/w_1000/q_auto/f_auto/Kong_Hee_fgs2pp.jpg"
                        alt="Kong Hee" class="speaker-image">
                    <h4>Kong Hee</h4>
                    <p class="speaker-title">City Harvest Church, Singapore</p>
                </div>
            </div>

        </div>
    </div>
    </div>

    <!--  EXCLUSIVES -->
    <div class="event-exclusive">
        <div data-reveal-container="" class="site-container is-event-exclusive" id="why-attend">
            <div data-reveal-item class="event-exclusive_left revealed">
                <!-- <h6 class="text-color-purple">Exclusive Growth opportunity</h6> -->
                <div class="event-exclusive_heading">
                    <h2>Why Attend?</h2>
                    <div class="div-spacer"></div>
                </div>
                <div class="event-exclusive_benefits cc-2025">
                    <div class="event-exclusive_benefits-item">
                        <div class="event-exclusive_benefits-item_top">
                            <h3 class="cc-purple">01</h3>
                            <div>
                                <p class="site-paragraph is-medium text-weight-500">Encounter God's Presence & Power –
                                    Experience life-changing worship, inspiring teachings, and an atmosphere where faith
                                    is ignited.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="event-exclusive_benefits-item">
                        <div class="event-exclusive_benefits-item_top">
                            <div>
                                <h3 class="cc-purple">02</h3>
                            </div>
                            <p class="site-paragraph is-medium text-weight-500">Connect with a Global Faith Community –
                                Join passionate believers from around the world and be part of a worldwide move of God.
                            </p>
                        </div>
                    </div>
                    <div class="event-exclusive_benefits-item">
                        <div class="event-exclusive_benefits-item_top">
                            <div>
                                <h3 class="cc-purple">03</h3>
                            </div>
                            <p class="site-paragraph is-medium text-weight-500">Be Equipped & Transformed – Receive
                                fresh vision, spiritual renewal, and guidance from influential Christian leaders.</p>
                        </div>
                    </div>
                </div>

                <a id="" href="{{ url_for('registrations.fl_registration') }}" target="_blank"
                    class="site-button is-small is-yellow w-button"><strong>REGISTER
                        NOW<br></strong></a>
            </div>
            <div data-reveal-item class="event-exclusive_right revealed">
                <div class="event-exclusive_images">
                    <div class="event-exclusive_image-top">
                        <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/v1745188517/w_1000/q_auto/f_auto/flc_congregation-modified_jeu1ww.jpg"
                            loading="lazy" width="616" sizes="(max-width: 767px) 100vw, 616px" alt=""
                            srcset="https://res.cloudinary.com/dtr7ausk3/image/upload/v1745188517/w_1000/q_auto/f_auto/flc_congregation-modified_jeu1ww.jpg 2000w"
                            class="image-fullwidth">
                    </div>
                    <div class="event-exclusive_image-middle"></div>

                </div>
            </div>
        </div>
    </div>

    <!-- Conference Location -->
    <div class="event-exclusive">
        <div class="event-exclusive_heading" style="margin: 10px 30px;">
            <h2>Conference Venue</h2>
            <div class="div-spacer"></div>
        </div>
        <div data-reveal-container="" class="site-container is-event-exclusive" id="why-attend">

            <div data-reveal-item class="event-venue_left revealed">

                <div class="slideshow-container">
                    <div class="venue-slideshow" id="venueSlideshow">
                        {% for image in venue_images %}
                        <img class="venue-image" src="{{image}}" alt="">
                        {% endfor %}
                    </div>

                </div>
            </div>
            <div data-reveal-item class="event-venue_right revealed">
                <!-- <h5 class="text-color-purple">Join us at the First Love Center in Ghana this July-August</h5> -->
                <div class="event-exclusive_benefits cc-2025">
                    <div class="event-exclusive_benefits-item">
                        <div class="event-exclusive_benefits-item_top">
                            <div>
                                <h5 style="margin-bottom: 0px;">Address:</h5>
                                <p class="site-paragraph is-medium text-weight-500">
                                    <strong>First Love Center</strong>,<br>
                                    Trinity Avenue<br>
                                    Accra, Ghana
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <a id="" href="https://maps.app.goo.gl/xHAi2YPpwzw55Tga7" target="_blank"
                    class="site-button about-btn"><strong>Get Directions<br></strong></a>
            </div>

        </div>
    </div>


    <!-- <div id="register-now" class="pricing-cards">
        <div id="pricing" data-reveal-container="" class="site-container">
            <div data-reveal-item class="ticket-prices_heading revealed">
                <h6 class="cc-yellow cc-center"><strong>CHOOSE YOUR PACKAGE</strong></h6>
                <h2 class="site-heading is-ticketpricing">Register Now</h2>
            </div>
            <div class="pricing-cards__list">
                <div data-reveal-item class="pricing-cards__item revealed">
                    <div class="pricing-cards__item-heading is-yellow">USA Admission</div>
                    <div class="pricing-cards__item-main">
                        <div class="pricing-cards__item-price">
                            <div class="pricing-cards__item-price__label">Price:</div>
                            <div class="pricing-cards__item-price__amount">$100</div>
                        </div>

                    </div>
                    <a id="" href="{{ url_for('main.pre_registration') }}" target="_blank"
                        class="site-button is-small is-yellow is-pricing-cards__item w-button"><strong>REGISTER
                            NOW<br></strong></a>
                </div>
                <div data-reveal-item class="pricing-cards__item revealed">
                    <div class="pricing-cards__item-heading is-purple">UK Admission</div>
                    <div class="pricing-cards__item-main">
                        <div class="pricing-cards__item-price">
                            <div class="pricing-cards__item-price__label">Price:</div>
                            <div class="pricing-cards__item-price__amount">£100</div>
                        </div>

                    </div>
                    <a id="" href="{{ url_for('main.pre_registration') }}" target="_blank"
                        class="site-button is-small is-yellow is-pricing-cards__item w-button"><strong>REGISTER
                            NOW<br></strong></a>
                </div>
                <div data-reveal-item class="pricing-cards__item revealed">
                    <div class="pricing-cards__item-heading is-green">Europe Admission</div>
                    <div class="pricing-cards__item-main">
                        <div class="pricing-cards__item-price">
                            <div class="pricing-cards__item-price__label">Price:</div>
                            <div class="pricing-cards__item-price__amount">€100</div>
                        </div>
                    </div>
                    <a id="" href="{{ url_for('main.pre_registration') }}" target="_blank"
                        class="site-button is-small is-yellow is-pricing-cards__item w-button"><strong>REGISTER
                            NOW<br></strong></a>
                </div>
                <div data-reveal-item class="pricing-cards__item revealed">
                    <div class="pricing-cards__item-heading">Africa Admission</div>
                    <div class="pricing-cards__item-main">
                        <div class="pricing-cards__item-price">
                            <div class="pricing-cards__item-price__label">Price:</div>
                            <div class="pricing-cards__item-price__amount">$100</div>
                        </div>
                    </div>
                    <a id="" href="{{ url_for('main.pre_registration') }}" target="_blank"
                        class="site-button is-small is-yellow is-pricing-cards__item w-button"><strong>REGISTER
                            NOW<br></strong></a>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Event Schedule -->
    <div class="event-schedule background-color-black text-color-white" id="schedule">
        <div class="event-schedule_main">
            <div data-reveal-container="" class="site-container is-event-schedule_main">
                <div data-reveal-item class="event-schedule_heading revealed">
                    <h2 class="site-heading is-event-schedule">Schedule</h2>
                </div>
                <div data-reveal-item class="event-schedule_day cc-hide revealed">
                    <div style="padding: 30px 0 0 20px; ">
                        <h3 style="text-transform: none; font-weight:100;">*Check in later closer to the Conference for
                            the Schedule.
                        </h3>
                    </div>
                </div>
                <!-- <div data-reveal-item class="event-schedule_days revealed">
                    <div data-reveal-item class="event-schedule_day cc-hide revealed">
                        <div class="event-schedule_day-title" onclick="toggleEventSchedule(this)">
                            <h3>Wednesday, &nbsp;JUNE 11</h3>
                        </div>
                        <div class="event-schedule_day-list-wrapper w-dyn-list">
                            <div role="list" class="event-schedule_day-list w-dyn-items">
                                <div role="listitem" class="event-schedule_day-item w-dyn-item">
                                    <div class="event-schedule_day-item_time">5:00 pm</div>
                                    <div class="event-schedule_day-item_title">
                                        <h5 class="event-schedule_day-item_title-text">Hangouts (5pm - 8pm) - Multiple
                                            Locations
                                        </h5>
                                        <div class="event-schedule_day-item__rtb w-richtext">
                                            <p><strong>Topics of Conversation </strong><br></p>
                                            <ul role="list">
                                                <li>Tech </li>
                                                <li>Real Estate</li>
                                                <li>Health </li>
                                                <li>Business Consulting / Coaching</li>
                                                <li>Beauty, Wellness &amp; Personal Care<strong> </strong></li>
                                            </ul>
                                        </div>
                                        <div class="event-schedule_day-item_taxonomy w-dyn-bind-empty"></div>
                                    </div>
                                    <div class="event-schedule_day-item_speaker-wrapper">
                                        <div class="event-schedule_day-item_speaker w-dyn-bind-empty"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>

<!-- Resource Banner -->
<div class="resource-banner mb-5">
    <div class="container">
        <h4 class="text-center mb-4">Resources</h4>
        <div class="resource-grid">
            <a href="https://dagbooks.org/" target="_blank" class="resource-item">
                <img src="{{ url_for('static', filename='images/dag books.jpg') }}" alt="Dag Books">
                <div class="resource-overlay">
                    <span>Browse Books</span>
                </div>
            </a>
            <a href="https://play.google.com/store/search?q=dag+sermons&c=apps&hl=en&pli=1" target="_blank"
                class="resource-item">
                <img src="{{ url_for('static', filename='images/Dag bible.png') }}" alt="Dag Sermons App">
                <div class="resource-overlay">
                    <span>Get the App</span>
                </div>
            </a>
            <a href="https://www.youtube.com/@DagHewardMills" target="_blank" class="resource-item">
                <img src="{{ url_for('static', filename='images/Dag youtube.png') }}" alt="Dag YouTube Channel">
                <div class="resource-overlay">
                    <span>Watch on YouTube</span>
                </div>
            </a>
            <a href="https://dagpreaching.org/" target="_blank" class="resource-item">
                <img src="{{ url_for('static', filename='images/sermons.jpg') }}" alt="Dag Preaching">
                <div class="resource-overlay">
                    <span>Listen to Sermons</span>
                </div>
            </a>
            <a href="https://music.daghewardmills.org/" target="_blank" class="resource-item">
                <img src="{{ url_for('static', filename='images/anointed_songs.jpg') }}" alt="Anointed Songs">
                <div class="resource-overlay">
                    <span>Listen to Anointed Songs</span>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}