{% extends 'base.html' %}

{% block title %}First Love Conference{% endblock %}

{% block content %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/share-styles.css') }}">
{% endblock %}
<main class="main-wrapper">
    <section class="section_faq-hero background-color-black">
        <div class="padding-global">
            <div class="w-layout-blockcontainer container-large w-container">
                <div class="padding-section-medium">
                    <div class="section-content intro">
                        <div id="w-node-_84e73d6c-1c36-e250-ece2-aa56808b87c8-9af80a0a" class="content-group"
                            style="transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1; filter: blur(0px);">
                            <h1 class="heading-style-h1-p1">Share</h1>
                            <h1 class="heading-style-h1">First Love Conference<span class="heading-style-yr">2025</span>
                            </h1>
                        </div>
                        <div id="w-node-d46b2580-c151-7e83-792d-b6d42d8727f9-9af80a0a" class="content-group"
                            style="font-family:'Montserrat', sans-serif; font-weight: 500;">
                            <div class="text-size-medium">We believe something powerful happens when young people gather
                                with one heart to lift up the name of Jesus.
                                <br>
                                Be part of mobilizing this generation for First Love Conference 2025 by spreading the
                                word in your branch, on your campus, and across your community.
                                <br>
                                Download our digital promo assets below and help us share the vision! From stories and
                                flyers to captions and countdowns — every post helps us reach someone hungry for the
                                presence of God.
                                <br>
                                When you share, don’t forget to tag <strong>@firstlovecenter</strong> and use the
                                hashtag <strong>#FLC2025</strong> so we
                                can repost and amplify the sound!
                                <br>
                                Let’s gather the nations.
                                The Lord is There.
                            </div>
                            <!-- <div class="spacer-small"></div><a
                                href="https://passion-forms.formstack.com/forms/passion_2026_rave_card_request"
                                target="_blank" class="button is-secondary w-button"
                                style="will-change: transform; transform: translate3d(0rem, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">Request
                                Rave Cards</a>
                            <div class="button-group"></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="download" class="section_welcome background-color-secondary">
        <div id="w-node-cd112268-61f6-ea8d-9de8-4ae12d80ecc8-9af80a0a" class="padding-global">
            <div class="container-large">
                <div class="padding-section-medium padding-top">
                    <div class="text-align-center">
                        <h2 class="heading-style-h3">Downloads</h2>
                    </div>
                    <div class="download-anchor-links">
                        <a href="#square" class="button is-secondary w-button"
                            style="will-change: transform; transform: translate3d(0rem, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">Post</a>
                        <a href="#instastory" class="button is-secondary w-button"
                            style="will-change: transform; transform: translate3d(-0.0002rem, 0.00018rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">Story
                        </a>
                        <a href="#screen-graphic" class="button is-secondary w-button"
                            style="will-change: transform; transform: translate3d(0.00018rem, -0.00018rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">Screen
                            Graphic
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="square" class="section_download background-color-secondary">
        <div id="w-node-_8bf4c988-335f-9716-61f9-a595e400bf9f-9af80a0a" class="padding-global">
            <div class="container-large">
                <div class="padding-section-medium padding-top">
                    <div class="section-content is-share-downloadables-4col">
                        <div id="w-node-_06a3614a-8200-2d83-44fc-158c5e278632-9af80a0a" class="content-group"
                            style="transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1; filter: blur(0px);">
                            <h2 class="heading-style-h4">Post</h2>
                            <p class="text-size-large">To download right-click to save to your computer or press and
                                hold to save to your phone.<br></p>
                        </div>
                    </div>
                    <div class="section-content is-share-downloadables-4col">
                        <div id="w-node-_74206302-3a4c-3793-56b7-8d4e31e65772-9af80a0a"
                            class="share-collection w-dyn-list">
                            <div role="list" class="share-grid w-dyn-items">
                                <div role="listitem" class="share-asset w-dyn-item">
                                    <a href="#" class="share-asset-block w-inline-block">
                                        <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/q_auto/f_auto/Post__There_Lord_is_There_k9dvqs.png"
                                            loading="lazy" alt="" class="downloadable-thumbnail">
                                    </a>
                                </div>
                                <div role="listitem" class="share-asset w-dyn-item">
                                    <a href="#" class="share-asset-block w-inline-block">
                                        <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/q_auto/f_auto/Post__Fisheye_xi5und.png"
                                            loading="lazy" alt="" class="downloadable-thumbnail">
                                    </a>
                                </div>
                                <div role="listitem" class="share-asset w-dyn-item">
                                    <a href="#" class="share-asset-block w-inline-block">
                                        <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/v1750495767/Post__Building_bbbvu9.png"
                                            loading="lazy" alt="" class="downloadable-thumbnail">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="instastory" class="section_download background-color-secondary">
        <div id="w-node-_80d7d04d-2bcc-0976-3607-1425abdf448e-9af80a0a" class="padding-global">
            <div class="container-large">
                <div class="padding-section-medium padding-top">
                    <div class="section-content is-share-downloadables-4col">
                        <div id="w-node-_80d7d04d-2bcc-0976-3607-1425abdf4492-9af80a0a" class="content-group"
                            style="transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1; filter: blur(0px);">
                            <h2 class="heading-style-h4">Story</h2>
                            <p class="text-size-large">To download right-click to save to your computer or press and
                                hold to save to your phone.<br></p>
                        </div>
                    </div>
                    <div class="section-content is-share-downloadables-4col">
                        <div id="w-node-_2d254fb6-a546-8368-9852-ac8521e9b1ba-9af80a0a" class="w-dyn-list">
                            <div role="list" class="share-grid w-dyn-items">
                                <div role="listitem" class="share-asset w-dyn-item">
                                    <a href="#" class="share-asset-block w-inline-block">
                                        <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/q_auto/f_auto/Story__There_Lord_is_There_eaxawc.png"
                                            loading="lazy" alt="" class="downloadable-thumbnail">
                                    </a>
                                </div>
                                <div role="listitem" class="share-asset w-dyn-item">
                                    <a href="#" class="share-asset-block w-inline-block">
                                        <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/q_auto/f_auto/Story__Fisheye_rhgigb.png"
                                            loading="lazy" alt="" class="downloadable-thumbnail">
                                    </a>
                                </div>
                                <div role="listitem" class="share-asset w-dyn-item">
                                    <a href="#" class="share-asset-block w-inline-block">
                                        <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/q_auto/f_auto/Story__Building_hokrxt.png"
                                            loading="lazy" alt="" class="downloadable-thumbnail">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="screen-graphic" class="section_download background-color-secondary">
        <div id="w-node-_236267b2-790c-351e-6a2d-40fb2e8bd5ec-9af80a0a" class="padding-global">
            <div class="container-large">
                <div class="padding-section-medium padding-top">
                    <div class="section-content is-share-downloadables-4col">
                        <div id="w-node-_236267b2-790c-351e-6a2d-40fb2e8bd5f0-9af80a0a" class="content-group"
                            style="transform: translate3d(0px, 0rem, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1; filter: blur(0px);">
                            <h2 class="heading-style-h4">Screen Graphic</h2>
                            <p class="text-size-large">To download right-click to save to your computer or press and
                                hold to save to your phone.<br>
                            </p>
                        </div>
                    </div>
                    <div class="section-content is-share-downloadables-3col">
                        <div id="w-node-_0ed26d52-aabc-134b-ffce-44175d525426-9af80a0a" class="w-dyn-list">
                            <div role="list" class="share-grid w-dyn-items">
                                <div role="listitem" class="share-asset w-dyn-item">
                                    <a href="#" class="share-asset-block w-inline-block">
                                        <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/q_auto/f_auto/Screen__There_Lord_is_There_xipb6o.png"
                                            loading="lazy" alt="" class="downloadable-thumbnail">
                                    </a>
                                </div>
                                <div role="listitem" class="share-asset w-dyn-item">
                                    <a href="#" class="share-asset-block w-inline-block">
                                        <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/q_auto/f_auto/Screen__Fisheye_owl7at.jpg"
                                            loading="lazy" alt="" class="downloadable-thumbnail">
                                    </a>
                                </div>
                                <div role="listitem" class="share-asset w-dyn-item">
                                    <a href="#" class="share-asset-block w-inline-block">
                                        <img src="https://res.cloudinary.com/dtr7ausk3/image/upload/q_auto/f_auto/Screen__Building_upcci9.png"
                                            loading="lazy" alt="" class="downloadable-thumbnail">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}